* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Fredoka One,Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    
}

#startpage {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    z-index: 9;
    background-color: green;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#startpage > h1 {
    font-size: 100px;
}

#formEnterName {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

.entername {
    font-family: Arial, Helvetica, sans-serif;
}

#btnStart {
    border:none;
    width: 200px;
    height: 70px;
    border-radius: 30px;
    font-size: 40px;
    background-color: yellow;
    color: rgb(0, 0, 0);
}

#btnStart:hover {
    box-shadow: 0px 0px 20px hsl(120, 100%, 50%);
}

#gamepage {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    
}

h2 {
    font-size: 15px;
    color: hsl(0, 0%, 35%);
    margin-bottom: 30px;
}


#gamewrapper {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: flex-start;
    background-color: hsl(0, 0%, 100%);

  
}

.playerarea {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 70px;
    padding: 20px;
    align-self: center;
    background-color: rgb(0, 26, 255);
    border-radius: 50px;
    opacity: .5;
    
}

.player1 {
    margin-right: 60px;
}

.player2 {
    margin-left: 60px;
    background-color: rgb(255, 0, 0);
}

.playerturn {
    opacity: 1;
    box-shadow: 0px 0px 70px rgb(0, 255, 0);
}

.playername{
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    font-size: 30px;
    border-radius: 50px;
   

}



#boardarea {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    justify-items: center;
    grid-gap: 5px;
    align-items: center;
    padding: 10px;
    background-color: green;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    
    
}

.btnmarkarea {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    background-color: white;
    font-size: 90px;
    font-family: Fredoka One, sans-serif;
}

.btnmarkarea:hover {
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
}

.btnReset {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(217, 255, 0);
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 10px;
    margin-top: 40px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    opacity: .5;
}

.btnReset:hover {
    opacity: 1;
}
